@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400&display=swap');


:root {
  --color-bg: #1F1F1F;
  --color-text: white;
  --color-blue: #3b49df;
  --color-red: #F40000;
  --color-green: #05F400;
  --color-gray: #b5bdc4;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--color-bg);
  
  color: var(--color-text);

}

main {
  padding: 1rem 10vw;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h2 { font-size: 1.25rem; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

img {max-width: 100%;}

input { 
  display: inline-block; 
  outline: none;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  padding: 5px 10px;
}

fieldset {
  border: none;
  padding: 1rem 0;
  font-size: 1.25rem;
}

code {
  overflow-x: scroll;
}

/* shapes */ 

.circle {
  height: 60px;
  width: 60px;
  background-color: #606060;
  border-radius:10%;
  margin-right: 40px;
}

.circle2 {
  height: 150px;
  width: 150px;
  background: rgb(31,31,31);
background: -moz-linear-gradient(56deg, rgba(31,31,31,0) 31%, rgba(179, 33, 215, 0.2) 60%);
background: -webkit-linear-gradient(56deg, rgba(31,31,31,0) 31%, rgba(179, 33, 215, 0.2) 40%);
background: linear-gradient(56deg, rgba(31,31,31,0) 30%, rgba(179, 33, 215, 0.2) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1f1f",endColorstr="#b321d7",GradientType=1);
  border-radius:100%;
  position: absolute;
  top: 6px;
  right: -10px;

}

.circle3 {
  height: 80px;
  width: 80px;
  background: rgb(31,31,31);
  background: -moz-linear-gradient(56deg, rgba(31,31,31,0) 31%, rgba(179, 33, 215, 0.1) 60%);
  background: -webkit-linear-gradient(56deg, rgba(31,31,31,0) 31%, rgba(179, 33, 215, 0.1) 40%);
  background: linear-gradient(5deg, rgba(31,31,31,0) 30%, rgba(179, 33, 215, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1f1f",endColorstr="#b321d7",GradientType=1);
  border-radius:100%;
  position: absolute;
  top: 70px;
  left: -10px;

}



/* Icons */
.material-icons.md-48 { font-size: 96px; }

.labelStyle {
  background: "#606060";
}


/* Loader */
.loader {
  border: 10px solid var(--color-bg); 
  border-top: 10px solid var(--color-blue); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Navbar */

.navbar {
  background: rgb(31,31,31);
  background: linear-gradient(186deg, rgba(31,31,31,1) 66%, rgba(185,56,217,0.7931547619047619) 100%);
}

/*
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
*/




/* Buttons */

.btn, button {
  background-color: var(--color-gray);
  border: none;
  color: var(--color-text);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  button {
    padding: 0.5rem 0.5rem;
    font-size: 0.75rem;
  }
}


button:hover {
  filter: brightness(90%);
}

button:disabled,
button[disabled]{
  filter: brightness(80%);
  cursor: not-allowed;
}

button.btn-blue {
  background-color: var(--color-blue);
  color: white;
}

button.btn-red {
  background-color: var(--color-red);
  color: white;
}

button.btn-green {
  background-color: var(--color-green);
  color: white;
}

button.btn-google {
  background-color: white;
  color: var(--color-text);
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

button.btn-logo {
  background-color: var(--color-text);
  color: white;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
}


/* Cards */
/*
.card {
  padding: 1rem;
  margin: 1rem 0;
  background-color: white;
  color: black;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
}
*/
.card footer {
  display: flex;
}

.card-img-center {
  width:20%;
  display:block;
  margin:auto;
  border-radius: 50%;
  max-width: 150px;
}

.card-info {
  color: white;
  background: var(--color-blue);
}

/* Particle button */

.shape {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: scale(0.8);
}
.cir {
  position: absolute;
  border-radius: 50%;
  z-index: 5;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: #333;
  text-align: center;
  z-index: 10;
  transition: 0.2s;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 1px 5px 2px #BFCEEF;
}
.btn:active, .btn:hover, .btn:focus {
  outline: none !important;
  color: white;
} 
.btn-particles {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  color: #eee;
  font-family: monospace;
  z-index: 5;
/*  filter: url(#gooeyness); */
}
.btn:active {
  transform: scale(0.9) translate(-55%, -55%);
}


/* Popup */

.popup-content {
  margin: auto;
  background: #1e1d1d;
  height: 400px;
  width: 85%;
  padding: 5px;
  border-radius: 70px;
}
.popup-arrow {
  color: rgb(171, 34, 34);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(15, 2, 17, 0.502);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.modal {
  font-size: 12px;
  
  
  
  
}
.modal > .header {
  width: 100%;
  
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -15px;
  font-size: 24px;
  background: #6a0202;
  border-radius: 18px;
  
}


.budget-range {
  background: #393939;
}




/* Utilities */

.push-left {
  margin-left: auto;
}

.text-sm {
  font-size: 0.7rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-red);
}

.text-success {
  font-weight: bold;
  color: var(--color-green);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}

.box {
  display: flex;
  justify-content: space-between;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.hidden { display:  none; }

/* 
tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities; 
*/